# Lines starting with '#' are considered comments.
# Ignore any file named foo.txt.
# foo.txt
# Ignore (generated) html files,
#*.html
# except foo.html which is maintained by hand.
#!foo.html
# Ignore objects and archives.
#*.[oa]


#ignore this file
#.gitignore
#ignore shapefiles

#ignore build directories
Debug
Release
obj
cache
Release64bit
ipch
*.pdb
#ignore solution user options
*.suo
*.user
tilecache
vectortilecache
texastilecache
WebTest/bin
geomutil_lib/VS2008
geomutil_lib/egis_geomutil.sdf
.vs/
packages
EGIS.Controls.nuspec
EGIS.ShapeFileLib.nuspec
EGIS.Projections.nuspec
EGIS.Web.Controls.nuspec
EGIS.Mapbox.Vector.Tile.nuspec
ShapeFileTools/MainForm.cs.bak
EGIS.Projections/SRID.csv.gz.6.1
EGIS.Projections/SRID.csv.gz.9.0
EGIS.Projections/Proj/proj.db.9.0
EGIS.Projections/Proj/proj.db.9.1
